@charset "UTF-8";

@font-face {
font-family: "Oswald";
src: url("./fonts/Oswald-SemiBold.ttf") format("truetype");
src: url("./fonts/Oswald-ExtraLight.ttf") format("truetype");
src: url("./fonts/Oswald-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Oswald-light";
    src: url("./fonts/Oswald-ExtraLight.ttf") format("truetype");
    }
@font-face {
    font-family: "Noto-Sans";
    src: url("./fonts/NotoSans-Regular.ttf") format("truetype");
    }


$title:"Oswald";
$regular:"Noto-Sans";
$text-light:"Oswald-light";

$dark-orange: #bd3e00;
$orange-text: #a52903;
$orange-bg: #a12904;

@keyframes es-pulse {
    0% {
        transform: scale(1);
      }
      70% {
        transform: scale(1.1);
      }
      to {
        transform: scale(1);
      }
    }

    @keyframes es-pulse2 {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgb(175, 82, 24);
          border-radius: 50%;
          }
          70% {
            transform: scale(1.05);
            box-shadow: 0 0 0 10px rgba(175, 82, 24, 0);
            border-radius: 50%;
          }
          to {
            transform: scale(1);
            box-shadow: 0 0 0 rgba(175, 82, 24, 0);
            border-radius: 50%;
          }
        }

        @keyframes es-pulse3 {
            0% {
                transform: scale(1);
                filter: brightness(0);
              }
              70% {
                transform: scale(1.1);
                filter: brightness(1);
              }
              to {
                transform: scale(1);
                filter: brightness(0);
              }
            }
        
            @keyframes es-pulse4 {
                0% {
                    transform: scale(1);
                    box-shadow: 0 0 0 0 rgb(241, 222, 211);
                
                  }
                  70% {
                    transform: scale(1.1);
                    box-shadow: 0 0 0 10px rgba(175, 82, 24, 0.439);
                   
                  }
                  to {
                    transform: scale(1);
                    box-shadow: 0 0 0 rgba(178, 108, 64, 0.291);
                   
                  }
                }
img{
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
#es-essentiale-max.es-essentiale-max{
    background-color: #fff;
    color: #000;
    line-height: 1;
    font-size: 16px;
    min-height: 400px;
    max-width: 960px;
    min-width: 320px;
    padding: 0;
    margin: 0;
    font-family: $title;
    margin: 0 auto;
    .es-kv{
        min-height: 700px;
        background-image: url(./images/kv_bg.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
        align-self: flex-end;
        &__img{
            align-self: flex-end;
            width: 250px;
            padding: 0 40px;
            margin-left: 50px;
        }
        &__title{
            align-self: flex-end;
            padding: 0 20px;
            font-weight: 600;
            p{
                font-size: 60px;
                font-family: $title;
                font-style: italic;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                text-shadow: 2px 1px 6px #000;
                color: #fff;
                sup{
                    font-size: 30px;
                    margin: 10px;
                }
            }
        }
    }
    .es-nav{
        margin: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__single{
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__link{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 45px;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            line-height: 1.2;
            text-transform: uppercase;
            color: #fff;
            text-shadow: 2px 1px 1px #000;
            font-size: 18px;
            background-color: $dark-orange;
            &:hover{
                transition: 1s all ease-in-out;
                background: rgb(164,38,24);
                background: linear-gradient(191deg, rgba(164,38,24,1) 0%, rgba(226,81,15,1) 81%);
                box-shadow: inset -3px 1px 31px -3px rgba(214, 211, 114, 1);
            }
        }
    }
    .es-section__title{
        margin: 0 auto;
        p{
            text-align: center;
            text-transform: uppercase;
            font-size: 50px;
            font-family: $title;
            font-style: italic;
            font-weight: 600;
            sup{
                font-size: 30px;
                margin: 5px;
               
            }
        }
    }
    .es-when{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__text{
           font-size: 25px;
           text-align: center;
           line-height: 1.2;
           font-family: $text-light;
           font-weight: bolder;
           strong{
            font-family: $title;
           }
           
        }
        &__iconsCtn{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }
        &__iconsCtnRow{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__iconsSingle{
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            img{
                width: 120px;
                animation: es-pulse2 2s infinite;
            }
            p{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
    .es-effect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__text{
            p{
            font-size: 25px;
            font-weight: 200;
            font-family: $text-light; 
            font-weight: bolder; 
            }
            sup{
                font-size: 15px;
            }
            strong{
                font-family: $title;
            } 
        }
        &__iconsCtn{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }
        &__iconsSingle{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 300px;
            margin: 20px;
            img{
                width: 120px;
                animation: es-pulse2 2s infinite;
            }
        }
        &__subtitle{
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 600;
        }
        &__desc{
            text-align: center;
            font-size: 20px;
            font-weight: 200;
            font-family: $text-light;
            font-weight: bolder;
            line-height: 1.2;
        }
    }
    .es-doubleDoze{
        background-image: url(./images/section-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        &__imgCtn{
          position: relative;
          position: -1;  
        }
        &__liver{
            margin-top: -40px;
            width: 350px;
            z-index: 100;
            position: relative;
        }
        &__liverShadow{
            position: absolute;
            width:400px;
            left: 0;
            z-index: 0;
            animation: es-pulse3 2s infinite;
        }
        &__text{
            font-size: 50px;
            font-family: $title;
            font-style: italic;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-shadow: 2px 1px 6px #000;
            color: #fff;
            padding: 20px 0;
            sup{
                font-size: 25px;
                margin: 5px;
            }
        }
    }
    .es-benefits{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        &__text{
            p{
                font-size: 25px;
                font-weight: 200;
                font-family: $text-light;
                font-weight: bolder;
            }
            strong{
                font-family: $title;
            }
        }
        &__MainCtn{
            display: flex;
        }
        &__secondCtn{
            display: flex;
            img{
                width: 400px;
                align-self: center;
            }
        }
        &__thirdCtn{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__subtitle{
            color: $orange-text;
            font-style: italic;
            font-size: 20px;
        }
        &__desc{
            font-family: $text-light;
            font-weight: bolder;
            line-height: 1.2;
        }
        &__claim{
            text-align: center;
            font-size: 20px;
            p{
            font-family: $text-light;
            font-weight: bolder;
            }
        }
    }
    .es-doze{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__iconsCtn{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        align-items: center;
        }
        &__iconSingle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            width: 250px;
            img{
                width: 120px;
                animation: es-pulse2 2s infinite;
            }
        }
        &__subtitle{
            text-transform: uppercase;
            text-align: center;
            line-height: 1.2;
            font-size: 25px;
            font-weight: 600;
        }
        &__claim{
            text-align: center;
            font-size: 20px;
            font-family: $text-light;
            font-weight: bolder;
        }
    }
    .es-liverCheck{
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title{
            p{
            margin-bottom: 0;
            padding-bottom: 0;  
            }   
        }
        &__subtitle{
            p{
            font-size: 30px;
            margin-top: 20px;
            padding-top: 0;
            font-weight:200;
            font-family: $text-light;
            font-weight: bolder;  
            }
            
        }
        &__logo{
            width: 220px;
            margin-bottom: 40px;
        }
        &__qr{
            width: 220px;
        }
    }
    .es-cross{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./images/cross-bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 60%;
        margin-bottom: 0;
        padding-bottom: 0;
        &__mainCtn{
            display: flex;
            flex-wrap: wrap;
        }
        &__singleProduct{
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__packshot{
            width: 250px;
        }
        &__name{
            p{
            color:#fff;
            font-size: 25px;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-shadow: 2px 1px 6px #000;
            }
        }
        &__desc{
           p{
            color: #fff;
            font-size: 20px;
            margin-top: 0;
            text-shadow: 2px 1px 6px #000;
           }
        }
        &__link{
            margin: 30px;
            a{
                background-color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                font-family: $title;
                font-weight: 600;
                font-size: 20px;
                padding: 5px 30px;
                border-radius: 25px;
                box-shadow: 11px 7px 25px -11px rgba(66, 68, 90, 1);
                animation: es-pulse4 2s infinite;
                &:hover{
                    transition: 1s;
                    background-color: transparent;
                    outline: 3px solid #fff;
                    color: #fff;
                }
            }

        }
    }
    .es-footer{
        background-color: $orange-bg;
        margin-top: 0;
        padding-bottom: 0;
        &__logoCtn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            p{
                color: #fff;
                font-size: 12px;
            }
        }
        &__claims{
            margin: 20px;
            border-bottom: 1px solid #fff;
            p{
                color: #fff;
                font-size: 12px;
                line-height: 1.2;
                font-family: $text-light;
                font-weight: bolder;
            }
        }
        &__end{
            padding: 10px;
            p{
                color: #fff;
                font-size: 14px;
                line-height: 1.2;
                text-align: center;
                font-family: $text-light;
                font-weight: bolder;
            }
        }
    }
}
@media (max-width: 700px){
    #es-essentiale-max.es-essentiale-max{
        .es-kv{
            background-image: url(./images/kv-bg-mobile.png);
            background-size: cover;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__img{
                align-self: center;
                margin-left: 0;
                padding: 0;
                width: 280px;
            }
            &__title{
                align-self: center;
            }
        }
        .es-nav{
            flex-direction: column;
            &__single{
                min-width: 200px;
                text-align: center;
            }
        }
        .es-doubleDoze{
            background-size: cover;
            justify-content: center;
              &__liver{
                  margin-top: -40px;
              }
            &__text{
                text-align: center;
                margin-top: 0;
            }
        }
        .es-benefits{
            &__MainCtn{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__secondCtn{
                display: none;
            }
            &__text{
                text-align: center;
            }
        }
        .es-liverCheck{
            &__subtitle{
                text-align: center;
            }
        }
        .es-cross{
            background-image: none;
            background: linear-gradient(0deg, $orange-bg 80%, #fff 20%);
            &__mainCtn{
                justify-content: center;
                align-items: center;
            }
        }
    }
}